/*=======================
Universal Styling
========================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
    width: 245px;
    padding: 0 140px;
}

h2 {
  font-size: 45px;
}
/*=======================
Navigation Styling
========================*/

h1 {
  font-size: 75px;
  text-align: center;
  padding: 25px;
}

nav ul {
  border-top: solid;
  border-bottom: solid;
  min-width: 80%;
  padding: 10px;
  margin: 0 190px;
}

nav ul li a {
  text-decoration: none;
  padding: 0 110px;
}

nav ul li {
  display: inline;
  position: relative;
  left: 467px;
  font-size: 24px;
  padding: 10px 0;
}

/*=======================
Image Links (Home Page)
========================*/

.image-links {
    margin: 50px 10px 50px 150px;
}

/*=======================
Featured Reviews
(Home Page)
========================*/

h2 {
    font-size: 32px;
    text-align: center;
}

.hallow-ones h2 {
    font-size: 26px;
    text-align: left;
}

.southern-bookclub h2 {
    font-size: 26px;
    text-align: left;
}

.water-dancer h2 {
    font-size: 26px;
    text-align: left;
}
