/*=======================
Universal Styling
========================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*=======================
Navigation Styling
========================*/

h1 {
    font-size: 65px;
    font-family: 'Goldman', cursive;
    text-align: center;
    color: #0f1635;
    padding: 25px;
}

h1 a {
    text-decoration: none;
    color: #0f1635;
}

nav ul {
    position: relative;
    left: 76px;
    border-top: solid;
    border-bottom: solid;
    max-width: 80%;
    padding: 10px;
    margin: 0 97px;
}

nav ul li {
    display: inline;
    position: relative;
    left: 415px;
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 28px;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #191817;
    padding: 0 110px;
}

/*=======================
Social Media Links
========================*/
.social-media {
    position: absolute;
    top: 2%;
    left: 82%;
    font-size: 30px;
    max-width: 80%;
    word-spacing: 7px;
}
/*=======================
Image Links (Home Page)
========================*/
img {
    width: 245px;
    padding: 0 140px;
}

.image-links {
    margin: 50px 10px 50px 150px;
}

/*=======================
Featured Reviews
(Home Page)
========================*/

.featured-reviews {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #454545;
    border-bottom: solid;
    border-top: solid;
    max-width: 80%;
    margin: 0 190px;
    padding: 10px;
}

.hallow-ones,
.southern-bookclub,
.water-dancer {
    box-sizing: border-box;
    height: 170px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    position: absolute;
    top: 710px;
}

.hallow-ones {
    left: 190px;
    width: 510px;
    padding: 40px 0 0 0;
    border-left: solid gray;
    border-right: solid gray;
}

.hallow-ones h2,
.southern-bookclub h2,
.water-dancer h2 {
    color: #191817;
}

.hallow-ones p,
.southern-bookclub p,
.water-dancer p {
    line-height: 35px;
    color: #000000;
}

.southern-bookclub a,
.hallow-ones a,
.water-dancer a {
    text-decoration: none;
}

.southern-bookclub {
    width: 450px;
    left: 746px;
    padding: 30px;
}

.water-dancer {
    width: 500px;
    left: 1214px;
    padding: 30px;
    border-left: solid gray;
    border-right: solid gray;
}

/*=======================
About Page
========================*/
.container {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    max-width: 45%;
    margin: 50px 0 0 172px;
}

.container h2 {
    font-weight: 500;
    color: #454545;
    margin-left: 10px;
    padding-bottom: 15px;
    font-size: 26px;
    border-bottom: solid #8080806b;
    margin-bottom: 10px;
}

.container p {
    padding: 12px;
    line-height: 22px;
    color: #000000;
}

.profile-pic {
    position: absolute;
    left: 960px;
    bottom: 293px;
    width: 305px;
}

/*=======================
Horror Menu Page
========================*/
.container ul li {
    list-style-type: none;
    margin-left: 11px;
}

.container li:first-child {
    margin-top: 25px;;
}

.container li:nth-child(even) {
    margin-left: 25px;
    color: #454545;
    padding: 15px 0 40px;
}

.container li:nth-child(odd) {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.menu-image {
    width: 415px;
    float: right;
    margin-top: -235px;
    margin-right: 85px;
    max-width: 100%;
    height: auto;
    filter: grayscale(100);
}

/*=======================
Fantasy Menu Page
========================*/
.menu-image-fantasy {
    width: 450px;
    float: right;
    margin-top: -364px;
    margin-right: 53px;
    max-width: 100%;
    height: auto;
    filter: grayscale(100);
}
/*=======================
Science Fiction Menu Page
========================*/
.menu-image-syfy {
    width: 445px;
    float: right;
    margin-top: -322px;
    margin-right: 85px;
    max-width: 100%;
    height: auto;
    filter: grayscale(100);
}

/*=======================
Review Pages
========================*/
.review-headers h2 {
    border: none;
}

.review-headers h2:nth-child(2) {
    color: #454545;
    border-bottom: solid #8080806b;
    font-size: 21px;
    margin-top: -11px;
}

.buttons {
    position: absolute;
    bottom: -2%;
    left: -71px;
}

.amazon-button,
.worldcat-button {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 10px;
    width: auto;
    position: relative;
    left: 1314px;
    margin-left: 37px;
    top: -150px;
    border-radius: 15px;
    background-color: #142056;
    color: white;
    font-weight: bold;
}

.review-cover {
    position: absolute;
    left: 60%;
    bottom: 18%;
}
.water_dancer_cover,
.hallow_ones_cover,
.vampires_cover,
.trail-of-lightning,
.nimona-cover {
  width: 300px;
}
