/*=======================
Universal Styling
========================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/*=======================
Navigation Styling
========================*/
h1 {
  font-size: 65px;
  font-family: 'Goldman', cursive;
  text-align: center;
  color: #0f1635;
  padding: 25px;
  text-shadow: 2px 1px lightslategrey;
}

h1 a {
  text-decoration: none;
  color: #0f1635;
}

nav ul {
  position: relative;
  left: 76px;
  border-top: 2px solid #454545;;
  border-bottom: 2px solid #454545;;
  max-width: 80%;
  padding: 10px;
  margin: 0 97px;
}

nav ul li {
  display: inline;
  position: relative;
  left: 415px;
  font-family: 'Inter', serif;
  font-weight: 600;
  font-size: 28px;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #191817;
  padding: 0 110px;
  transition: .3s;
}

nav ul li a:hover {
  color: #4f4e4e;
  transition: .3s;
}
/*=======================
Social Media Links
========================*/
.social-media {
  position: absolute;
  top: 2%;
  left: 82%;
  font-size: 30px;
  max-width: 80%;
  word-spacing: 7px;
}

.social-media a {
  text-decoration: none;
  color: black;
}

.social-media a:visited {
  color: #093eb1;
}
/*=======================
Footer
========================*/
footer {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  padding-top: 295px;
  font-size: 14px;
  color: white;
  position: relative;
}

footer p {
    background: #0f1635;
    padding: 19px 0;
    text-align: center;
    position: absolute;
    width: 1918px;
    max-width: 1920px;
    height: 15px;
}
/*=======================
Image Links (Home Page)
========================*/
.image-links {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px 15px;
}

.link {
  position: relative;
  transition: .4s
}

.link:hover {
  opacity: 0.5;
  transition: .4s;
}

.syfy {
  left: -210px;
  bottom: 22px;
}

.fantasy {
  left: 50px;
}

.horror {
  left: 310px;
}
/*=======================
Featured Reviews
(Home Page)
========================*/
.featured-reviews-section h2 {
  font-size: 25px;
  color: #191817;
  font-weight: 500;
}

.featured-reviews-section p {
  font-size: 18px;
  color: #454545;
  line-height: 35px;
}

.southern-bookclub a,
.hallow-ones a,
.water-dancer a {
  text-decoration: none;
}

.featured-reviews {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid #454545;
  border-top: 2px solid #454545;
  max-width: 80%;
  margin: 9px 190px;
  padding: 10px;
}

.review-link {
  margin-top: -64px;
  transition: .3s;
}

.review-link h2:hover {
  color: #4f4e4e;
  transition: .3s
}

.hallow-ones,
.southern-bookclub,
.water-dancer {
  box-sizing: border-box;
  height: 170px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  position: absolute;
  top: 710px;
}

.hallow-ones {
  left: 190px;
  width: 510px;
  padding: 35px 0 0 0;
  border-left: 2px solid #454545;
  border-right: 2px solid #454545;
}

.southern-bookclub {
  width: 450px;
  left: 746px;
  padding: 30px;
}

.water-dancer {
  width: 500px;
  left: 1214px;
  margin-left: 15px;
  padding: 30px;
  border-left: 2px solid #454545;
  border-right: 2px solid #454545;
}

/*=======================
About Page
========================*/
.container {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    max-width: 45%;
    margin: 80px 0 0 172px;
}

.container h2 {
    font-weight: 500;
    color: #454545;
    margin-left: 20px;
    padding-bottom: 15px;
    font-size: 26px;
    border-bottom: 2px solid #454545;
    margin-bottom: 10px;
}

.container p {
    padding: 12px;
    line-height: 25px;
    margin-left: 10px;
    color: #000000;
}

.profile-pic {
    position: relative;
    float: right;
    margin-right: 300px;
    bottom: 400px;
}
/*=======================
Menu Pages
========================*/
.container ul li {
    list-style-type: none;
    margin-left: 11px;
}

.container li:first-child {
    margin-top: 25px;;
}

.container li:nth-child(even) {
    margin-left: 25px;
    color: #454545;
    padding: 15px 0 40px;
}

.container li:nth-child(odd) {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.container a {
    text-decoration: none;
    color: black;
}

.menu-image {
    position: absolute;
    max-width: 100%;
    height: auto;
    filter: grayscale(100);
    right: 100px;
    bottom: 50px;
}

.menu-image-horror,
.menu-image-fantasy,
.menu-image-syfy  {
  width: 425px;
}

/*=======================
Review Pages
========================*/
.review-headers h2 {
    border: none;
}

.review-headers h2:nth-child(2) {
    color: #454545;
    border-bottom: solid #8080806b;
    font-size: 21px;
    margin-top: -11px;
}

.buttons {
    position: absolute;
    bottom: -2%;
    left: -71px;
}

.amazon-button,
.worldcat-button {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 10px;
    width: auto;
    position: relative;
    left: 1314px;
    margin-left: 37px;
    top: -150px;
    border-radius: 15px;
    background-color: #142056;
    color: white;
    font-weight: bold;
}

.review-cover {
    position: absolute;
    left: 60%;
    bottom: 18%;
}
.water_dancer_cover,
.hallow_ones_cover,
.vampires_cover,
.trail-of-lightning,
.nimona-cover {
  width: 300px;
}

/*=======================
Contact Page
========================*/
.emailsection {
    max-width: 936px;
    padding: 55px 5px;
}

.emailform {
  margin: 50px 300px
}

.label_input_wrap {
  display: block;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
}

.emailform input,
.emailform textarea {
    border: 1px solid black;
    padding: 9px 12px;
    font-family: 'Inter', sans-serif;
}

.emailme {
    max-width: 500px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-left: 32%;
    margin-bottom: -23px;
}

.input-section {
    padding-bottom: 14px;
}

textarea {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  padding: 10px 10px;
}

.submit,
.reset {
  display: inline;
}

.submit input,
.reset input {
    background: #142056;
    border: none;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    transition: .3s;
}

.submit input:hover {
  background: #093eb1;
  transition: .3s;
}

.reset  input:hover {
  background: #093eb1;
  transition: .3s;
}

.followsection {
    max-width: 538px;
    height: 375px;
    margin-top: -30%;
    margin-left: 56%;
    background: #f2f2f2;
    padding: 20px 20px;
}

.followme {
  max-width: 500px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.followsection ul li {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 75px;
    list-style: none;
}

.listimages {
    max-height: 350px;
    width: 100px;
    position: relative;
    right: 148px;
    top: 28px;
}

.listimages img {
    width: 50px;
    padding-bottom: 20px;
}

.followsection ul {
    margin-top: -279px;
    margin-left: 56px;
}
